.terminal-interface {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80vw;
    background-color: var(--board-color);
}

.head-bar {
    width: 80vw;
    height: 30px;
    background-color: var(--bar-color);
    color: var(--font-color);
    font-weight: 700;
    display: flex;
    align-items: center;
}

.terminal-status {
    position: absolute;
    height: 25px;
    width: 25px;
    left: 77vw;
}

.terminal-status svg {
    height: 15px;
    width: 15px;
    fill: #8cba93;
}

.terminal-status svg:hover {
    fill: var(--font-color);
}

.unshow-terminal svg {
    transform: rotate(180deg);
}

.terminal-interface .head-bar span {
    margin-left: 20px;
}

/* Container for content and resize handle */
.content-container {
    position: relative;
    width: 80vw;
}

/* Resize handle */
.resize-handle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    width: 50px;
    height: 50px;
    cursor: ns-resize;
    z-index: 10;
}

.resize-handle svg {
    width: 30px;
    height: 30px;
    fill: #8cba93;
}

.resize-handle svg:hover {
    width: 30px;
    height: 30px;
    fill: var(--font-color);
}

.content {
    max-height: 50vh;
    min-height: 27vh;
    width: 80vw;
    overflow-y: auto;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: var(--board-color);
    color: var(--font-color);
    border-top: 1px solid #8cba93;
    transition: height 0.2s ease;
}

.content-inner {
    margin-left: 5px;
    margin-top: 5px;
}

.terminal-line {
    font-family: monospace;
    white-space: pre-wrap;
    font-weight: 700;
}

.custom-scroll::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #8cba93;
    border-radius: 5px;
}

.custom-scroll::-webkit-scrollbar-track {
    background-color: var(--bar-color);
}